html,
body {
  padding: 0;
  margin: 0;
  font-family: "nunito";
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  border: none !important;
  box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff !important;
}
* {
  transition: 0.5s !important;
}

.hover:hover {
  transform: scale(1.15) !important;
  transition: 0.5s;
  cursor: pointer;
}

.clickable {
  cursor: pointer !important;
}
